<section id="container-principal">
    
    <div class="container-image-presentation"></div>

    <h1 #titleAboutMy fragment="about" id="about">Sobre mí</h1>

    <section class="container-information-about">

        <div class="container-profile-image">
    
            <section>
                <img src="assets/images/profile.PNG" alt="profile image">
            </section>
    
        </div>
    
        <div class="container-description-personal">
    
            <section>
                <p>
                    ❝La programación es de las pocas profesiones que permiten crear lo que yace en la imaginación del hombre, 
                    si se puede imaginar se puede programar❞
                </p>
                <h3>
                    Soy estudiante de ingeniera en sistemas y un convencido de la programación y el desarrollo de software en general, me encanta la astronomía 
                    y el porqué de las cosas a nuestro alrededor.
                </h3>
            </section>
    
        </div>

    </section>
      

</section>