<section class="content-section skills" id="skills" fragment="skills">
    <h2>Skills</h2>

    <div class="skills-block">
        <h3>Stack principal</h3>
        <div class="skills-grid">
            <button mat-stroked-button (click)="openNewTab('https://angular.io/docs')"><img src="../../../../../assets/images/technologies/angular.svg" alt="angular"><span>Angular</span></button>
            <button mat-stroked-button (click)="openNewTab('https://www.typescriptlang.org/')"><img src="../../../../../assets/images/technologies/typescript.svg" alt="typescript"><span>TypeScript</span></button>
            <button mat-stroked-button (click)="openNewTab('https://developer.mozilla.org/en-US/docs/Web/JavaScript')"><img src="../../../../../assets/images/technologies/javascript.svg" alt="javascript"><span>JavaScript</span></button>
            <button mat-stroked-button (click)="openNewTab('https://material.angular.io/')"><img src="../../../../../assets/images/technologies/angular-material.svg" alt="angular-material"><span>Material</span></button>
            <button mat-stroked-button (click)="openNewTab('https://nodejs.org/docs/latest/api/')"><img src="../../../../../assets/images/technologies/nodejs.svg" alt="nodejs"><span>Node</span></button>
            <button mat-stroked-button (click)="openNewTab('https://expressjs.com/es/')"><img src="../../../../../assets/images/technologies/express.svg" alt="express"><span>Express</span></button>
            <button mat-stroked-button (click)="openNewTab('https://www.mongodb.com/docs/')"><img src="../../../../../assets/images/technologies/mongodb.svg" alt="mongodb"><span>MongoDB</span></button>
            <button mat-stroked-button (click)="openNewTab('https://git-scm.com/doc')"><img src="../../../../../assets/images/technologies/git.svg" alt="git"><span>Git</span></button>
        </div>
    </div>

    <div class="skills-block learning">
        <h3>Aprendiendo ahora</h3>
        <div class="skills-grid compact">
            <button mat-stroked-button (click)="openNewTab('https://dart.dev/guides')"><img src="../../../../../assets/images/technologies/dart.svg" alt="dart"><span>Dart</span></button>
            <button mat-stroked-button (click)="openNewTab('https://docs.flutter.dev/')"><img src="../../../../../assets/images/technologies/flutter.svg" alt="flutter"><span>Flutter</span></button>
            <button mat-stroked-button (click)="openNewTab('https://docs.netlify.com/')"><img src="../../../../../assets/images/technologies/netlify.svg" alt="netlify"><span>Netlify</span></button>
            <button mat-stroked-button (click)="openNewTab('https://vercel.com/docs')"><img src="../../../../../assets/images/technologies/vercel.svg" alt="vercel"><span>Vercel</span></button>
        </div>
    </div>
</section>