<section class="content-section skills" id="skills" fragment="skills">
    <h2>{{ 'section.skills' | translate }}</h2>

    <div class="skills-block">
        <h3>{{ 'skills.stack' | translate }}</h3>
        <div class="skills-grid">
            <button mat-stroked-button (click)="openNewTab('https://angular.io/docs')"><span>Angular</span></button>
            <button mat-stroked-button (click)="openNewTab('https://www.typescriptlang.org/')"><span>TypeScript</span></button>
            <button mat-stroked-button (click)="openNewTab('https://developer.mozilla.org/en-US/docs/Web/JavaScript')"><span>JavaScript</span></button>
            <button mat-stroked-button (click)="openNewTab('https://material.angular.io/')"><span>Material</span></button>
            <button mat-stroked-button (click)="openNewTab('https://nodejs.org/docs/latest/api/')"><span>Node</span></button>
            <button mat-stroked-button (click)="openNewTab('https://expressjs.com/es/')"><span>Express</span></button>
            <button mat-stroked-button (click)="openNewTab('https://www.mongodb.com/docs/')"><span>MongoDB</span></button>
            <button mat-stroked-button (click)="openNewTab('https://git-scm.com/doc')"><span>Git</span></button>
            <button mat-stroked-button (click)="openNewTab('https://dart.dev/guides')"><span>Dart</span></button>
            <button mat-stroked-button (click)="openNewTab('https://docs.flutter.dev/')"><span>Flutter</span></button>
            <button mat-stroked-button (click)="openNewTab('https://learn.microsoft.com/azure/')"><span>Azure</span></button>
            <button mat-stroked-button (click)="openNewTab('https://github.com/')"><span>GitHub</span></button>
            <button mat-stroked-button (click)="openNewTab('https://learn.microsoft.com/sql/sql-server/')"><span>SQL Server</span></button>
            <button mat-stroked-button (click)="openNewTab('https://docs.netlify.com/')"><span>Netlify</span></button>
            <button mat-stroked-button (click)="openNewTab('https://vercel.com/docs')"><span>Vercel</span></button>
            <button mat-stroked-button (click)="openNewTab('https://seenode.com/docs')"><span>Seenode</span></button>
        </div>
    </div>
</section>