<section id="container-principal">

    <div class="container-image-presentation"></div>

    <h1 #titleSkills fragment="skills" id="skills">Skills</h1>

    <div class="container-secondary">

        <div class="container-skills">
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://developer.mozilla.org/en-US/docs/Web/JavaScript' ) ">
                <img src="../../../../assets/images/technologies/javascript.svg" alt="javascript">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://www.typescriptlang.org/' ) ">
                <img src="../../../../assets/images/technologies/typescript.svg" alt="typescript">
            </button>
            
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://developer.mozilla.org/es/docs/Web/HTML' ) ">
                <img src="../../../../assets/images/technologies/html5.svg" alt="html5">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://developer.mozilla.org/en-US/docs/Web/CSS' ) ">
                <img src="../../../../assets/images/technologies/css3.svg" alt="css3">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://angular.io/docs' ) ">
                <img src="../../../../assets/images/technologies/angular.svg" alt="angular">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://material.angular.io/' ) ">
                <img src="../../../../assets/images/technologies/angular-material.svg" alt="angular-material">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://nodejs.org/es/docs/' ) ">
                <img src="../../../../assets/images/technologies/nodejs.svg" alt="nodejs">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://expressjs.com/es/' ) ">
                <img src="../../../../assets/images/technologies/express.svg" alt="express">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://www.mongodb.com/docs/' ) ">
                <img src="../../../../assets/images/technologies/mongodb.svg" alt="mongodb">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://devcenter.heroku.com/categories/reference' ) ">
                <img src="../../../../assets/images/technologies/heroku.svg" alt="heroku">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://vercel.com/docs' ) ">
                <img src="../../../../assets/images/technologies/vercel.svg" alt="vercel">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://docs.netlify.com/' ) ">
                <img src="../../../../assets/images/technologies/netlify.svg" alt="netlify">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://docs.aws.amazon.com/s3/index.html' ) ">
                <img src="../../../../assets/images/technologies/s3.svg" alt="s3">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://docs.sentry.io/' ) ">
                <img src="../../../../assets/images/technologies/sentry.svg" alt="sentry">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://developer.mozilla.org/es/docs/Web/Progressive_web_apps' ) ">
                <img src="../../../../assets/images/technologies/pwa.svg" alt="pwa">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://git-scm.com/doc' ) ">
                <img src="../../../../assets/images/technologies/git.svg" alt="git">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://docs.github.com/es' ) ">
                <img src="../../../../assets/images/technologies/github.svg" alt="github">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://code.visualstudio.com/docs' ) ">
                <img src="../../../../assets/images/technologies/visual-studio-code.svg" alt="visual-studio-code">
            </button>
    
        </div>
    
        <h2 #titleLearningSkills>Actualmente aprendiendo:</h2>
    
        <div class="container-learning-skills">
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://dart.dev/guides' ) ">
                <img src="../../../../assets/images/technologies/dart.svg" alt="dart">
            </button>
    
            <button mat-stroked-button color="primary" (click)=" openNewTab( 'https://docs.flutter.dev/' ) ">
                <img src="../../../../assets/images/technologies/flutter.svg" alt="flutter">
            </button>
    
        </div>

    </div>

</section>