@import '../../../variables.scss';

#container-principal {
    footer {
        padding: 20px;
        text-align: center;
        background-color: $color-primary;
        color: $color-white;
    }
}