<nav class="side-nav" aria-label="Navegación principal">
  <ul>
    @for (item of menuItems(); track item) {
      <li>
        <a routerLink="/" [fragment]="item.redirectTo">
          <span class="line"></span>
          <span>{{ item.name }}</span>
        </a>
      </li>
    }
    <li>
      <a routerLink="/" fragment="experience">
        <span class="line"></span>
        <span>Experience</span>
      </a>
    </li>
  </ul>

  <!-- <button class="confetti-btn" mat-stroked-button (click)="runConfetti()">
    Celebrar proyecto
  </button> -->

  <button mat-icon-button class="mobile-menu" [matMenuTriggerFor]="menuOptions" aria-label="Abrir menú">
    <mat-icon>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
        <path d="M3 18v-2h18v2Zm0-5v-2h18v2Zm0-5V6h18v2Z"/>
      </svg>
    </mat-icon>
  </button>

  <mat-menu #menuOptions="matMenu">
    @for (item of menuItems(); track item) {
      <button mat-menu-item routerLink="/" [fragment]="item.redirectTo">
        <span>{{ item.name }}</span>
      </button>
    }
    <button mat-menu-item routerLink="/" fragment="experience">
      <span>Experience</span>
    </button>
  </mat-menu>
</nav>