@import '../../../variables.scss';

#container-principal {
    margin-top: 100px;
    padding-top: 20px;
    background-color: $color-secondary;
    padding-bottom: 90px;

    h1 {
        text-align: center;
        color: $color-primary;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    h1::before {
        content: '';
        position: absolute;
        margin-top: 50px;
        height: 5px;
        width: 3rem;
        background: $color-primary;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
    }

    .container-contact {
        padding: 30px;
        margin: 0 auto;
        width: 50%;
        box-shadow: 0 4px 25px rgb(14 36 49 / 15%);
        text-align: center;

        div {
            margin-bottom: 35px;

            span {
                margin-right: 10px;
                font-size: 20px;
                color: $color-content-letters;
            }

            a {
                font-size: 19px;
                color: $color-complementary;
            }

            button {
                svg {
                    fill: $color-content-letters;
                    margin: 0 auto;
                    transform: scale(.45);
                }
            }

        }

        div:last-child {
            margin-bottom: 0px;
        }

    }

}

/* responsive desgin */
@media screen and (max-width: 768px) {

    #container-principal {
        min-height: 80vh;

        .container-contact {
            padding: 1.1rem 0;
            width: 100%;

            div {
                
                span {
                    margin-right: 5px;
                    font-size: 18px;
                }
    
                a {
                    font-size: 17px;
                }

            }

        }

    }

}